@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::selection{
  background: #D9FF0F;
  color: #000000;
  text-shadow: none;
  -webkit-text-fill-color: #000;
}

.hello{
  height: 16em;
  background-image: linear-gradient(to bottom,var(--swatch--black),rgba(254,125,194,.3));
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
